<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->

        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3 ">
            <nav class="navbar  ">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <img src=> </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                    </div>
                    <div class="ms-3">
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav  ">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-user"></i>
                            User</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a routerLink="/list_users" class="dropdown-item"> List-Users</a>

                            <a routerLink="/add_user_back" class="dropdown-item"> Add-User</a>


                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="far fa-file-alt me-2"></i> Fichiers
                            B2C</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="element.html" class="dropdown-item"> Location </a>

                            <a href="element.html" class="dropdown-item"> Achat & Enrichissement</a>
                            <a href="element.html" class="dropdown-item"> Tarifs & Devis</a>

                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="far fa-file-alt me-2"></i> Fichiers
                            B2B</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="element.html" class="dropdown-item"> Location </a>

                            <a href="element.html" class="dropdown-item"> Achat & Enrichissement</a>
                            <a href="element.html" class="dropdown-item"> Tarifs & Devis</a>

                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="far fa-file-alt me-2"></i> Fichiers
                            Décideurs</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="element.html" class="dropdown-item"> Location </a>

                            <a href="element.html" class="dropdown-item"> Achat & Enrichissement</a>
                            <a href="element.html" class="dropdown-item"> Tarifs & Devis</a>

                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown"><i class="material-icons">&#xe7ee;</i>Prestations</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a routerLink="/listAgencies" routerLinkActive="active" class="dropdown-item">E-Mailing</a>
                            <a routerLink="/listAgents" routerLinkActive="active" class="dropdown-item">SMS Mailing</a>
                            <a routerLink="/listHouses" routerLinkActive="active" class="dropdown-item">Mailing
                                Postal</a>
                            <a routerLink="/listHouses" routerLinkActive="active" class="dropdown-item">Enrichissement
                                de fichiers</a>
                            <a routerLink="/listHouses" routerLinkActive="active" class="dropdown-item">Outils API &
                                Webservice</a>
                            <a routerLink="/listHouses" routerLinkActive="active" class="dropdown-item">Communication
                                Politique Email &
                                SMS</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown"><i
                                class="fa fa-wrench"></i>
                            Infos</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a routerLink="/listAgencies" routerLinkActive="active"
                                class="dropdown-item">Qualification</a>
                            <a routerLink="/listAgents" routerLinkActive="active" class="dropdown-item">Sécurité</a>
                            <a routerLink="/listHouses" routerLinkActive="active" class="dropdown-item">Références
                                Client</a>
                            <a routerLink="/listHouses" routerLinkActive="active" class="dropdown-item">FAQ sur les
                                Fichiers</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown"><i
                                class="fa fa-credit-card"></i>Devis/Contact</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a routerLink="/candidacy" class="dropdown-item">Demande Devis B2C</a>
                            <a routerLink="/candidacy" class="dropdown-item">Demande Devis B2B</a>
                            <a routerLink="/candidacy" class="dropdown-item">Demande Devis Décideurs</a>
                            <a routerLink="/candidacy" class="dropdown-item">Demande Devis Communication Politique</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand   sticky-top px-4 py-0 navcolor mat-elevation-z4 ">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">

                    <div class="nav-item dropdown">


                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="assets/img/user.jpg" alt=""
                                style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Admin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end  border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4 mat-elevation-z8">


                <router-outlet></router-outlet>

                <div class="row vh-100  rounded align-items-center justify-content-center mx-0">
                    <div class="col-md-6 text-center">

                    </div>
                </div>
            </div>
            <!-- Blank End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">

            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->

</body>